---
layout: default
---

  <base href="../ENKI">
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>

  <body id="myPage">

<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
      <h2 style="color:white; padding-left:24px">MARK S. GHIORSO</h2>
    </div>

<!-- Container -->
<div class="w3-container w3-padding-24" style="background-color:black">
      <div class="w3-row-padding w3-padding-24 w3-theme-l1">
    <div class="w3-quarter"> <img src="images/Ghiorso.png" style="width:100%">
          </p>
          <h4>Ghiorso is the lead PI of the ENKI project.  He received his Ph.D. from U.C. Berkeley in 1980 on research that focused on the thermochemistry of high-temperature aqueous solutions and thermodynamic modeling of silicate melts.  Following that he moved to the University of Washington, and in conjunction with Richard Sack, developed a hierarchy of internally consistent thermodynamic solution models for the rock-forming silicates, which permitted the development of models and computational tools for the calculation of chemical mass transfer in magmatic systems (MELTS). Ghiorso is now Vice President of OFM Research, and continues to work on applications of thermodynamic and kinetic modeling to the evolution of magmatic systems.  In addition to ENKI, he recently began a project with <a href="Sverjensky/sverjensky.html">Dimitri Sverjensky</a> to merge thermochemical models of high-temperature/pressure aqueous solutions (DEW) with MELTS. <br>
      <em>(Photo location: Tongariro National Park, New Zealand)</em></h4>
          <hr>
          <p><img src="images/icon-telephone.png" height="14px"> 206-550-1850</p>
          <p><img src="images/icon-mail.png" height="14px"> <a href="mailto:ghiorso@ofm-research.org">Email</a></p>
        </div>
    <div class="w3-threequarter" >
          <div class="w3-card-2 w3-white" style="padding:16px">
        <h3 align="left" style="color:#900">Software, databases, and computational tools</h3>
        <p align="left"><a href="http://melts.ofm-research.org/">MELTS, pMELTS, and thermodynamic properties calculators</a> </p>
      
        <p align="left"><a href="http://lepr.ofm-research.org/" target="_new"> Database portal for experimental data on mineral-melt equilibria</a></p>
        <p align="left"><a href="http://PhasePlot.org">PhasePlot</a>, software for visualization of phase equilibria on pressure-temperature grids.  Available through the Apple App Store. </p>
        <p align="left">MagmaSat (Mac) and MagmaSatApp (iPad), software for computation of saturation conditions of H2O-CO2 mixed fluids in natural composition silicate melts. Available through the Apple App Store. </p>
        <hr>
        <h3 align="left" style="color:#900">Publications relevant to the ENKI project</h3>
        <table width="200" border="1">
              <tr class="tan">
            <td><a href="Ghiorso/Contributions to Mineralogy and Petrology 1980 Ghiorso.pdf"><img src="images/icon_PDF.png" align="middle" class="pdf-icon"></a></td>
            <td align="left">Ghiorso MS, Carmichael ISE (1980) A regular solution model for met-aluminous silicate liquids: Applications to geothermometry, immiscibility, and the source regions of basic magmas. Contrib Mineral Petrol 71:323-342</td>
          </tr>
              <tr>
            <td><a href="Ghiorso/Contributions to Mineralogy and Petrology 1983 Ghiorso.pdf"><img src="images/icon_PDF.png"></a></td>
            <td align="left">Ghiorso MS, Carmichael ISE, Rivers ML, Sack RO (1983) The Gibbs free energy of mixing of natural silicate liquids; an expanded regular solution approximation for the calculation of magmatic intensive variables. Contrib Mineral Petrol 84:107-145</td>
          </tr>
              <tr class="tan">
            <td><a href="Ghiorso/Contributions to Mineralogy and Petrology 1985 Ghiorso-1.pdf"><img src="images/icon_PDF.png"></a></td>
            <td align="left">Ghiorso MS (1985) Chemical mass transfer in magmatic processes. I. Thermodynamic relations and numerical algorithms. Contrib Mineral Petrol 90:107-120 </td>
          </tr>
              <tr>
            <td><a href="Ghiorso/Contributions to Mineralogy and Petrology 1985 Ghiorso.pdf"><img src="images/icon_PDF.png"></a></td>
            <td align="left">Ghiorso MS, Carmichael ISE (1985) Chemical mass transfer in magmatic processes. II. Applications in equilibrium crystallization, fractionation and assimilation. Contrib Mineral Petrol 90:121-141</td>
          </tr>
              <tr class="tan">
            <td><img src="images/icon_PDF.png"></td>
            <td align="left">Ghiorso MS, Kelemen PB (1987) Evaluating reaction stoichiometry in magmatic systems evolving under generalized thermodynamic constraints: Examples comparing isothermal and isenthalpic assimilation, in, Mysen BO, ed., Magmatic Processes: Physicochemical Principles, Geochemical Society, Special Publication 1: 319-336</td>
          </tr>
              <tr>
            <td><a href="Ghiorso/American Mineralogist 1990 Ghiorso.pdf"><img src="images/icon_PDF.png"></a></td>
            <td align="left">Ghiorso MS (1990) Application of the Darken equation to mineral solid solutions with variable degrees of order-disorder. American Mineralogist 75, 539-543</td>
          </tr>
              <tr class="tan">
            <td><a href="Ghiorso/Geochimica et Cosmochimica Acta 1994 Ghiorso.pdf"><img src="images/icon_PDF.png"></a></td>
            <td align="left">Ghiorso, MS (1994) Algorithms for the estimation of phase stability in heterogeneous thermodynamic systems. Geochimica et Cosmochimica Acta. Vol 58, No 24, 5489-5501.</td>
          </tr>
              <tr>
            <td><a href="Ghiorso/Contributions to Mineralogy and Petrology 1995 Ghiorso.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Ghiorso MS, Sack RO (1995) Chemical Mass Transfer in Magmatic Processes IV. A revised and internally consistent thermodynamic model for the interpolation and extrapolation of liquid-solid equilibria in magmatic systems at elevated temperatures and pressures. Contrib Mineral Petrology 119, 197-212 </td>
          </tr>
              <tr class="tan">
            <td><a href="Ghiorso/American Mineralogist 1998 Asimow.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Asimow PD, Ghiorso MS (1998) Algorithmic Modifications Extending MELTS to Calculate Subsolidus Phase Relations. American Mineralogist 83, 1127-1131 </td>
          </tr>
              <tr>
            <td><a href="Ghiorso/Geochem. Geophys. Geosyst. 2002 Ghiorso.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Ghiorso MS, Hirschmann MM, Reiners PW, Kress VC III (2002) The pMELTS: A revision of MELTS for improved calculation of phase relations and major element partitioning related to partial melting of the mantle to 3 GPa.  Geochemistry, Geophysics, Geosystems  3(5), 10.1029/2001GC000217. </td>
          </tr>
              <tr class="tan">
            <td><a href="Ghiorso/2004-AJS-1.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Ghiorso MS, 2004, An Equation of State for Silicate Melts.  I. Formulation of a General Model, American Journal of Science, 304, 637-678. </td>
          </tr>
              <tr>
            <td><a href="Ghiorso/2004-AJS-2.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Ghiorso MS, and Kress VC, 2004, An Equation of State for Silicate Melts. II. Calibration of volumetric properties at 105 Pa, American Journal of Science, 304, 679-751. </td>
          </tr>
              <tr class="tan">
            <td align="left"><a href="Ghiorso/2004-AJS-3.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Ghiorso MS, 2004, An Equation of State for Silicate Melts. III. Analysis of stoichiometric liquids at elevated pressure: shock compression data, molecular dynamics simulations and mineral fusion curves, American Journal of Science, 304, 752-810. </td>
          </tr>
              <tr>
            <td><a href="Ghiorso/AJS2004.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Ghiorso MS, 2004, An Equation of State for Silicate Melts. IV. Calibration of a multicomponent mixing model to 40 GPa, American Journal of Science, 304, 811-834. </td>
          </tr>
              <tr class="tan">
            <td><a href="Ghiorso/2012 GuaLDA.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Gualda, GAR, Ghiorso, MS, Lemons, R.V., Carley, T.L. (2012) Rhyolite-MELTS: A modified calibration of MELTS optimized for silica-rich, fluid-bearing magmatic systems. Journal of Petrology, 53, 875-890. </td>
          </tr>
              <tr>
            <td><a href="Ghiorso/Geochimica et Cosmochimica Acta 2013 Ghiorso.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Ghiorso, MS (2013) A globally convergent saturation state algorithm applicable to thermodynamic systems with a stable or metastable omni-component phase. Geochimica et Cosmochimica Acta, 103 295-300 </td>
          </tr>
              <tr class="tan">
            <td><a href="Ghiorso/Geochem. Geophys. Geosyst. 2015 Gualda.pdf"><img src="images/icon_PDF.png" align="middle"></a></td>
            <td align="left">Gualda, GAR, Ghiorso, MS (2015) MELTS_Excel: A Microsoft Excel-based MELTS interface for research and teaching of magma properties and evolution. Geochemistry, Geophysics, Geosystems, 16, 315-324, doi:10.1002/ 2014GC005545. </td>
          </tr>
              <tr>
            <td><a href="Ghiorso/2015 Ghiorso.pdf"><img src="images/icon_PDF.png"></a></td>
            <td align="left"> Ghiorso, MS, Gualda, GAR, 2015. Chemical Thermodynamics and the Study of Magmas. In: Sigurdsson, H., Houghton, B., Rymer, H., Stix, J., McNutt, S. (Eds.), The Encyclopedia of Volcanoes, pp. 143-161. </td>
          </tr>
            </table>
        <hr>
        <h3 style="color:#900">Other links</h3>
        <p align="left"><a href="http://markghiorso.org">Personal website</a></p>
      </div>
        </div>
  </div>
    </div>

</body>