---
layout: default
---


<title>Dimitri Sverjensky</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <base href="../ENKI">
 
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>   
    

<body id="myPage">

<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
<h2 style="color:white; padding-left:24px">DIMITRI SVERJENSKY</h2>


</div>


<!-- Container -->
<div class="w3-container w3-padding-24" style="background-color:black">

<div class="w3-row-padding w3-padding-24 w3-theme-l1">

<div class="w3-quarter">
<img src="images/Sverjensky.png" style="width:100%"></p>

 <hr>
 <p><img src="images/icon-telephone.png" height="14px"> 410-516-8568</p>
 <p> <img src="images/icon-mail.png" height="14px"> <a href="mailto:sver@jhu.edu ">Email</a></p>

</div>

<div class="w3-threequarter" >
<div class="w3-card-2 w3-white" style="padding:16px">

<p>Dimitri Sverjensky's research expertise covers the chemical evolution of water-rock-biomolecule interactions from the molecular to the planetary scale. He is involved in the development of new thermodynamic characterizations of aqueous species and minerals from surficial conditions to the elevated pressures and temperatures of the upper mantle in the Earth. This expertise is being applied to help decipher conditions on the early Earth that may have been associated with the origin of life, the role of mineral surface chemistry in the development of biomolecules, and the role of aqueous fluids in the deep Earth cycles of carbon, nitrogen, and sulfur and their connections to the maintenance of a habitable surficial environment on Earth through deep time.</p>
<h3 style="color:#900">Links</h3>
<p><a href="http://dewmodel.weebly.com/">Deep Earth Water Community</a></p>
<p><a href="http://eps.jhu.edu/directory/dimitri-sverjensky/">Department website</a></p> 
  </div>
</div>
</div>

</div>

</body>
</html>
