---
layout: default
---

<title>Marc Spiegelman</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <base href="../ENKI">
    
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');
</script>

<body id="myPage">

<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
<h2 style="color:white; padding-left:24px">MARC SPIEGELMAN</h2>


</div>


<!-- Container -->
<div class="w3-container w3-padding-24" style="background-color:black">
<div class="w3-row-padding w3-padding-24 w3-theme-l1">
<div class="w3-quarter">
<img src="images/Spiegelman.png" style="width:100%"></p>

 <hr>
 <p><img src="images/icon-mail.png" height="14px"> <a href="mailto:mspieg@ldeo.columbia.edu">Email</a></p>

</div>

<div class="w3-threequarter" >
<div class="w3-card-2 w3-white" style="padding:16px">

<p>My interest in integrating geodynamics with petrology dates to my undergraduate training at Harvard, where a flexible Geoscience program allowed an equal mix of math/physics, petrology, fieldwork (and drinking beer). This combination of interests was further focused during my Ph.D at the University of Cambridge under the supervision of Prof. Dan McKenzie where we fleshed out the beginning of our understanding of the coupled mechanics of magma transport in a deforming/convecting mantle. This work continued through a Lamont Post-doctoral fellowship at the (then) Lamont-Doherty Geological Observatory of Columbia University where I have continued to work since. I currently hold a joint appointment between the Departments of Earth and Environmental Sciences (DEES) and Applied Physics/Applied Mathematics (DAPAM) at Columbia University. My group and I have been extending magma migration theory into a more general one that describes the interactions between reactive fluids and deformable solids and fluids in the earth. Magma migration provides an important link between large-scale mantle convection and petrology/geochemistry and my research seeks to close the gap between these two disciplines. This work also lends new insights into other fluid-flow problems such as reactive flow and carbon sequestration; current research includes understanding the fundamental mathematics of coupled fluid/solid problems, applications to magmatism and reactive flow at plate boundaries, and reactive flow in brittle media. My work is primarily computational and my students, colleagues and I are implementing new techniques and technologies for multi-physics problems that take advantage of advanced high-performance scientific computing libraries such as PETSc at Argonne National Labs and the FEniCS project, but wrap them in a higher abstraction for the rapid development and exploration of specific applications. Our current modeling software, TerraFERMA (written and developed by Dr. Cian Wilson),  will provide one of the principal tools in the ENKI project for integrating computational thermodynamics with geodynamics.</p>
<h3 align="left" style="color:#900">Software</h3>
<p align="left"><a href="http://terraferma.github.io">TerraFERMA</a>: the Transparent Finite Element Rapid Model Assembler (available as open source code)</p>

</div>
</div>
</div>
</div>


</body>
