---   
layout: default
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>
    
<style>
td, th {
	vertical-align:top;
	text-align: left;
	border:1px solid black;
	padding:6px;
}
</style>
</head>

<body id="myPage">

<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
  <h2 style="color:white;padding-left:24px"">THE ENKI PROJECT</h2>
</div>

<!-- Container -->
<div class="w3-container w3-padding-24 w3-center">
  <h3 align="left" style="color:#900"><a name="BACKGROUND"></a>What is ENKI? </h3>

  <p align="left">ENKI is a collaborative, Web-based model-configuration and testing portal that provides tools in computational thermodynamics and fluid dynamics. This NSF project began development in fall 2016 and expects a prototype in early summer 2017.</p>
  <p align="left"> <strong>Transform research and education in  geochemistry, petrology, and geophysics</strong></p>
  <p align="left">The ENKI portal is expected to transform research and education in the fields of geochemistry, petrology, and geophysics.  It will support development and access to thermochemical models of Earth materials, and establish a standard infrastructure of web services and libraries that permit these models to be integrated into fluid dynamical transport codes. This infrastructure will allow scientific questions to be answered by quantitative simulations that are presently difficult to impossible because of the lack of interoperable software frameworks.</p>
  <p align="left"><strong>Modernize how thermodynamic and fluid dynamic models are used</strong></p>
  <p align="left"> Via the adoption of state-of-the-art model interfacing (OpenMI) and deployment environments (HubZero), ENKI will modernize in five fundamental ways how the Earth science community uses thermodynamic and fluid dynamic models: </p>
  
     <div align="left">
       <ol>
         <li>Provenance tracking to enable automatic documentation of model development and execution workflows </li>
         <li>New tools to help users update thermochemical models as new data become available, with the ability to merge these data and models into existing repositories and frameworks </li>
         <li>Automated code generation to eliminate the need for users to manually code web services and library modules </li>
         <li>Visualization tools and standard test suites to facilitate validation of model outcomes against observational data </li>
         <li>Collaborative groups can share and archive models and modeling workflows with associated provenance for publication   </li>
       </ol>
  </div>
  <p align="left"><strong>Model users become model developers</strong></p>
  <p align="left">By providing  these new tools, the ENKI team seeks to transform the large community of model users, who currently depend on a small group  for model development and maintenance, into an empowered ensemble of model developers who take ownership of the process and bring their own expertise, intuition, and perspective to shaping the software tools they use in daily research. ENKI development is community driven.  A dedicated and diverse group of early career professionals will participate in user interface development &#8212; ensuring that portal capabilities respond to user needs &#8212; and in developing a rich set of documentation, tutorials, and examples.  All software associated with this project will be released as open source.</p>
 
  <h3 align="left" style="color:#900"><a name="NeedForENKI"></a>Need for ENKI</h3>
  <p align="left">The ENKI project was conceived to address the central problem inhibiting the application of thermodynamic and fluid dynamical transport models in geochemistry, petrology, and geophysics: The large number of users who routinely use these models (researchers, students, industry professionals) rely on a small number of dedicated professionals who innovate novel capabilities and update models as new data emerge.  Further, the process of model development is poorly documented. Model calibration software is not readily available, and the time commitment required for model development prohibits broad participation.  ENKI overcomes these problems by:</p>
   <div align="left">
  <ul>
    <li>
     Automating the workflows for model development
    </li>
    <li>
      Providing the necessary data collections for the generation of self-consistent thermochemical databases and for thermodynamic model calibration
    </li>
    <li>
    Automating code generation and service creation
    </li>
    <li>
    Allowing users to focus on model outcomes and visualizations rather than the mechanics of implementation  
    </li>
  </ul></div>
  <p align="left">The ENKI team envisions the ENKI portal as transforming the exercise of modeling into a transparent activity accessible to a broad group of users. The long-term impact of this level of user engagement will be to stimulate the use of modeling to address new and challenging scientific questions from the mysteries of planet formation to the origins of planetary habitability. </p>
  <h3 align="left" style="color:#900">Broad impacts</h3>
  <p align="left">In addition to transforming research and education in the Earth Sciences,  ENKI will produce software infrastructure applicable to related computational fields in Materials Science, Chemistry, and Chemical Engineering. It will provide the model for how that infrastructure can evolve and be maintained over time.  </p>
  <p align="left">ENKI will evolve through the participation of early career scientists and several graduate students at participating institutions.  It will influence education by providing an environment for model development and execution with access tailored to all levels of learners. The portal will serve formal classroom exercises, tutorials, and suggested modeling workflows.  It will facilitate collaborative student projects as well independent learning and will function as a learning environment for teaching students about the utility of sophisticated physiochemical modeling of planetary processes.</p>
  <div class="w3-row"> </div>
</div>
</div>

<!-- Container -->
</div>
</div>



</body>

