---
layout: default
---


<title>CIDER Workshop</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--W3 script for expandable accoridion sections-->
    <script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

  <!--Script for Google Analytics-->
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script> 
    

<body id="myPage">


<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
<h2 style="color:white; padding-left:24px">CIDER CT-CFD WORKSHOP, January 2017</h2>


</div>


<!-- Container -->
<div class="w3-container w3-padding-24" style="background-color:black">



<div class="w3-row-padding w3-padding-24 w3-theme-l1">

<div class="w3-quarter">
<img src="images/Hawaii_CIDER.png" style="width:100%"></p>

 <hr>
</div>

<div class="w3-threequarter" >
<div class="w3-card-2 w3-white" style="padding:16px">

<h3 style="color:#900">Description</h3>
<p> The CIDER CT-CFD workshop held on January 26-27, 2017, in Honolulu, Hawai'i, was an NSF-funded effort headed by Mark Ghiorso and Przemyslaw Dera. The goal was to help build consensus on inoperability of modeling tools for computational thermodynamics and fluid dynamics.</p>

<div class="w3-accordion w3-light-grey">

  <button onclick="myFunction('Section2')" class="w3-btn-block w3-left-align" style="background-color:white;border-bottom:#999;border-bottom-style:double">
  <h3 style="color:#900">Participants</h3></button>
  <div id="Section2" class="w3-accordion-content w3-container">

<p><strong>George Bergantz</strong><br />
 University of Washington</p>
 <p><strong>Juliane Dannberg</strong><br />
Colorado State University</p>
 <p><strong>Przemyslaw Dera</strong><br />
   University of Hawai&#8217;i at Manoa</p>
 <p><strong>Peter Fox</strong><br />
   Rensselaer Polytechnic Institute</p>
 <p><strong>Mark Ghiorso</strong><br />
OFM Research</p>
 <p><strong>Christopher Grose</strong><br />
California Institute of Technology</p>
 <p><strong>Louise Kellogg</strong><br />
University of California, Davis</p>
<p><strong>Marc Spiegelman</strong><br />
   Columbia University</p>
 <p><strong>Cian Wilson</strong><br />
 Geophysical Laboratory </p>
 <p><strong>Aaron Wolf</strong><br />
 University of Michigan</p>
 
  </div>
  
  <button onclick="myFunction('Section3')" class="w3-btn-block w3-left-align" style="background-color:white;border-bottom:#999;border-bottom-style:double">
 <h3 style="color:#900">Outcome</h3>
  </button>
  <div id="Section3" class="w3-accordion-content w3-container">
    <p>The workshop discussions produced the following thoughts regarding a Computational Thermodynamics (CT) API that supports Computational Fluid Dynamics (CFD) computations.

<div style="background-color: lightgrey;width: 75%;border: 5px solid green; padding: 10px 25px;margin: 25px;">
<p><strong>Legend</strong></p>


<p><strong>T</strong> -	temperature K<br />
<strong>P</strong> - pressure MPa<br />
<strong>G</strong> - Gibbs free energy (J)<br />
<strong>H</strong> - enthalpy (J)<br />
<strong>S</strong> - entropy (J/K)<br />
<strong>V</strong> - volume (J/bar), bar=0.1 MPa<br />
<strong>Cp</strong> - isobaric heat capacity (J/K)<br />
<strong>Cv</strong> - isochoric heat capacity (J/K)<br />
<strong>&alpha;</strong> - thermal coefficient of expansion (K<sup>-1</sup>)<br />
<strong>&beta;</strong>	 - isothermal compressibility (MPa<sup>-1</sup>)<br />
<strong>&gamma;	</strong> -  Gr&uuml;neisen parameter<br /></p>

</div>

<h4 style="color:#900">A CT API that supports CFD must expose these methods:</h4>

<strong>Required methods</strong>

	<ul>
  <li>Methods to reveal the identity of all internally consistent data/model phase collections (i.e., documented collections like Berman (1988), Stixrude &amp; Lithgow-Bertelloni (2011), etc.)</li>
  <li>Methods to reveal the identity and formulas of all phases in a given internally consistent data/model collection</li>
  <li>Methods to choose the internally consistent phase model collection to use, with options to select a subset of phases or a specific sub-system, or to select any set of phases that constitute a &quot;system&quot; of interest</li>
  <li>For a given phase (input T, P, and composition for a solution), methods to retrieve:</li>
  <ul>
  <li>G, H, S, V, dVdT, dVdP, d<sup>2</sup>VdT<sup>2</sup>, d<sup>2</sup>VdTdP, d<sup>2</sup>VdP<sup>2</sup>, Cp, dCpDt (Cv, &alpha;, &beta;, &gamma;, are dependent)</li>
  <li>&micro; for all components</li>
  <li>&micro;&deg; for all components</li>
  <li>First and second molar compositional derivatives of G, S, V</li>
  <li>First compositional derivative of dVdT, dVdP</li></ul>
  <li>For specified T, P, bulk composition, and list of existing stable phase(s), a method to retrieve the chemical affinities with respect to a stable phase assemblage, for all other phases in the system or for all other specified phases in system. Positive values of the affinity denote that a potential phase not in the stable assemblage is undersaturated (unstable) with respect to that assemblage. Negative values denote supersaturation (the specified assemblage is actually metastable). If the phase is a solution, the likely composition of that phase is returned along with the affinity.</li>
  <li>For T, P, bulk composition of phase (if a solution) a method to retrieve the phase stable with respect to a structural transition or to unmixing.  If unmixed, the method returns an estimate of unmixed phase constituents, their compositions, and their abundances.</li></ul>
  <p style="padding-left:15px">NOTE: All these methods are stateless.
  </p>


<strong>Additional, desired methods</strong>

	<ul>
	<li>A method to calculate the equilibrium phase assemblage, phase proportions, and phase compositions for a specified phase collection at a given bulk composition, T and P</li>
	<li>A method to calculate the equilibrium phase assemblage, phase proportions, and phase compositions for a specified phase collection at a given bulk composition, T and V</li>
	<li>A method to calculate the equilibrium phase assemblage, phase proportions, and phase compositions for a specified phase collection at a given bulk composition, S and P</li>
	<li>A method to calculate the equilibrium phase assemblage, phase proportions, and phase compositions for a specified phase collection at a given bulk composition, S and V</li>
	<li>A method to calculate the equilibrium phase assemblage, phase proportions, and phase compositions for a specified phase collection at a given bulk composition, T, P, and specified one or more chemical potentials (e.g., fixed chemical potential of O<sub>2</sub> or H<sub>2</sub>O)</li></ul>
	  <p style="padding-left:15px">NOTE: Methods should be stateless, but optionally can be executed with passed knowledge of a previous state.</p>

<p><strong>Additional, optional methods</strong></p>
<ul>
	<li>A method for visualization of the complete phase diagram for a given bulk composition over a specified T, P grid (i.e., a pseudo-section)</li>
	<li>A method that suggests grid configuration for specified T, P range that guarantees variation of specified physical property (including phase proportions, composition, etc.) is constrained to a specified value</li>
	<li>A method to estimate computation times for various levels of computation</li></ul>

<h4 style="color:#900">Use cases</h4>

<ul>
	<li>Water-ice</li>
	<li>Silica-water</li>
	<li>Peridotite melting with reactive flow</li></ul>

<h4 style="color:#900">Additional exploration</h4>
<ul>
<li><a href="https://burnman.org">BurnMan, a lower mantle mineral physics toolkit (Python-based)</li>
<li><a href="http://geodynamics.org/cig/dev/best-practices/">CIG: Software Development Best Practices</a>
</li>
   </ul> 
    
  </div>
</div>
</div>
</div>
</div>
</div>


</body>

