---
layout: default
---

    <body id="myPage">


<div class="w3-display-container w3-animate-opacity">


 <img class="testimg" src="images/banner.png" style="width:100%;min-height:262px;max-height:405px"> 
      
      <div class="w3-display-middle" style="vertical-align:middle">
    
    
    <h1 align="center" style="color:orange;font-family:Fjalla One;font-size:72px;margin-top:30px">WELCOME TO ENKI</h1>

    <p align="center" style="color:#CCF;font-size:200%;font-family:Lato;margin-top:-28px">
      <strong><font color="#FF6633">EN</font></strong>abling <strong><font color="#FF6633">K</font></strong>nowledge <strong><font color="#FF6633">I</font></strong>ntegration</p>
  
  </div>
    </div>


<!-- Container -->
<div class="w3-container w3-padding-24 w3-center">
      <div class="w3-half w3-container">
    <h2 style="color:#900">ABOUT ENKI</h2>
    <p align="justify">ENKI is a collaborative, Web-based model-configuration and testing portal that provides tools in computational thermodynamics and fluid dynamics. This NSF project began development in fall 2016 and released a prototype in early summer 2017.</p>
    <p align="justify"><a href="about.html">READ MORE</a> . . .</p>
  </div>
      <div class="w3-half w3-container">
  </div>
    </div>
<hr>

<!-- Container -->

</div>
<div style="padding-left:20px; padding-top:20px; margin:20px; background-color:#FBEAD0"">
<h1 class="page-heading">Announcements and News</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
</body>



<!-- <div class="home">

  <h1 class="page-heading">Posts TEST TEST TEST</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
