---
layout: default
---

<title>ENKI User Workshop</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    
    <!--W3 script for expandable accoridion sections-->
    <script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

  <!--Script for Google Analytics-->
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script> 
    

<body id="myPage">


<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
<h2 style="color:white; padding-left:24px">ENKI USER WORKSHOP: May 22-26, 2017</h2>


</div>


<!-- Container -->
<div class="w3-container w3-padding-24" style="background-color:black">



<div class="w3-row-padding w3-padding-24 w3-theme-l1">

<div class="w3-quarter">
<img src="images/Enki.png" style="width:100%"></p>

 <hr>
</div>

<div class="w3-threequarter" >
<div class="w3-card-2 w3-white" style="padding:16px">

<h3 style="color:#900">Latest News</h3>
<p>The workshop was a huge success! Many thanks to all who participated.</p>

<div class="w3-accordion w3-light-grey">
  <button onclick="myFunction('Section1')" class="w3-btn-block w3-left-align" style="background-color:white;border-bottom:#999; border-bottom-style:double">
  <h3><span style="color:#900">Venue <i class="fa fa-caret-down"></i></span></h3></button>
  <div id="Section1" class="w3-accordion-content w3-container">

    <p>The workshop will be held at the University of Washington <a href="http://depts.washington.edu/fhl/" style="padding:0px;display:inline; color:#00C; background-color:none">Friday Harbor Laboratories</a> (FHL), located on <a href="https://en.wikipedia.org/wiki/San_Juan_Island" style="padding:0px;display:inline; color:#00C; background-color:none">San Juan Island</a>. FHL is host to extensive research in oceanography and marine biology.</p>
    <p>The nearby town of <a href="https://www.visitsanjuans.com/about-islands/friday-harbor-san-juan-island" style="padding:0px;display:inline; color:#00C; background-color:none">Friday Harbor</a> boasts numerous shops and restaurants and is a starting point for whale-watching and kayaking tours. </p>    
    
    <div style="height:380px; background-color:#9C9">
   
   <p><img src="images/FridayHarbor6.png" width="*" height="*" alt="Friday Harbor ferry terminal" style="margin:10px;float: left;"></p><p align="left" style="clear:right; padding-top:10%; padding-right:1px"><em>Washington state ferry arrives at Friday Harbor</em></p>   
    </div>
        
     <div style="height:284px; background-color:#FC9">
   
   <p><img src="images/FridayHarbor7.png" width="*" height="*" alt="Friday Harbor ferry terminal" style="margin:10px;float: right;"></p><p align="right" style="clear:left; padding-top:10%; padding-left:1px"><em>Downtown Friday Harbor</em></p>   
    </div>
    
    <div style="height:380px; background-color:#9C9">
   
   <p><img src="images/FridayHarbor1.png" width="*" height="*" alt="Deer at Friday Harbor" style="margin:10px;float: left;"></p><p align="left" style="clear:right; padding-top:10%;; padding-right:1px"><em>Wildlife at Friday Harbor Labs</em></p>   
    </div>

    <div style="height:380px; background-color:#FC9"><p>
    <img src="images/FridayHarbor2.png" width="*" height="*" style="margin:10px;float: right;"></p><p align="right" style="clear:left;padding-top:10%; padding-left:1px"> 
 <em>View of the town of Friday Harbor from Friday Harbor Labs. Washington state ferry can be seen docked in the distance.</em></p>
    </div>

    <div style="height:380px; background-color:#9C9"><p>
   <img src="images/FridayHarbor3.png" width="*" height="*" style="margin:10px; float:left; "></p><p align="left" style="clear:right;padding-top:10%; padding-rightt:1px"><em>View of Friday Harbor Labs from aboard departing  Washington state ferry</em></p>
    
    </div>
 
    <hr>
    
    </div>
    
    <button onclick="myFunction('Section4')" class="w3-btn-block w3-left-align" style="background-color:white;border-bottom:#999;border-bottom-style:double">
 <h3><span style="color:#900">Schedule <i class="fa fa-caret-down"></i></span></h3>
  </button>
  <div id="Section4" class="w3-accordion-content w3-container">
  
 <p>The preliminary schedule is now available.</p>
 
 <p>
 <a href="#" class="w3-hover-green" title="Search" onClick="window.open('Schedule_May2017workshop.pdf','pagename','resizable,height=686,width=1000'); return false;"> <img src="images/Schedule_small.png" width="*" height="*" alt="ENKI schedule"><br />Open PDF in new window.</a></p>
  </div>
    
    
    
      
  <button onclick="myFunction('Section2')" class="w3-btn-block w3-left-align" style="background-color:white;border-bottom:#999;border-bottom-style:double">
  <h3><span style="color:#900">Travel Logistics <i class="fa fa-caret-down"></i></span></h3></button>
  <div id="Section2" class="w3-accordion-content w3-container">


    <h4><u>Key dates</u></h4>
    
    
<ul>

  <li>By  <strong>March 13, 2017</strong>: <a href="mailto:dianecatt@ofm-research.org">Email Diane</a> (Workshop Coordinator) with your mobile number. Most information will be emailed, but she'll need your mobile number to finalize some workshop details.</li>
  <li>By <strong>March 17, 2017</strong>: Flight arrangements must be finalized. Contact Josie or Mona at Lake City Travel as soon as possible. <a href="mailto:josie@lakecitytravel.com">Email Josie</a>, <a href="mailto:mona@lakecitytravel.com">email Mona</a>, or phone 206-364-0100 or 800-621-2662.<br />

When you contact Josie or Mona, have this information available: </li>
<ul>
  <li>Name: Must match the name on your driver's license (US citizen) or your passport (non-US citizen)
        <li>Birthdate </li>
        <li>Email address</li>
        <li>Mobile/cell number</li>
        <li>Airport you'll leave from</li>
        <li>Preferred airline (We'll try to use this airline if possible.)</li>
        <li>Date you want to arrive in Seattle</li>
        <li>Date you want to depart from Seattle</li>
        <li>Names of any other workshop attendees you are travelling with</li>
        <li>Passport information (non-US citizen): This information must exactly match the information on your passport.
          <ul>
            <li>Passport number</li>
            <li>Passport expiration date - mmddyyyy</li>
            <li>Country of issue</li>
          </ul>
         
        </li>
</ul> <br/><strong>Flight times:</strong> Plan to arrive at Sea-Tac Airport by 10:00 AM on Monday, May 22, in order to board the charter bus to the Anacortes ferry terminal. If you want to arrive before Monday, you can instead board the charter bus in downtown Seattle (pickup location and time TBD). Plan a return flight no earlier than 8:00 PM on Friday, May 26.
  </li>
</ul>
<ul>
  <li>By <strong>May 5, 2017</strong>: Let Diane know whom you would like to share accommodations with at Friday Harbor Labs. Attendees will share facilities with one or two others. If we don't hear from you, we will assume you have no preference.

</ul>

<h4><u>Misc</u></h4>
    
    
<p><strong>Lodging: </strong>Lodging is provided May 22 to 25 (Monday through Thursday nights).</p>

<p><strong>Food: </strong> Meals will be served at Friday Harbor Labs. Food allergies and preferences will be discussed as the workshop nears.</p>

<p><strong>What to bring:</strong>
<ul>
<li>Laptop. Any OS is fine as long as the laptop has an HTML5-compliant browser such as Chrome or Safari.</li>
<li>For clothing, plan to dress in layers and be ready for rain. Average temperatures will range from the mid-60's during the day to the mid-40's at night.</br>
On the whale watching tour, we'll be in an open boat wearing exposure suits (provided). Additionally, the captain recommends dressing in layers and bringing a wool hat and/or sun hat with a cord (for wind).</li>
<li>Flashlight (recommended by FHL)</li>
<li>Cash for runs to town for beer and supplies</li>
<li>Water bottle?</li></ul>
</p><p>
If needed, pens and notebooks are for sale at FHL.</p>

<p><strong>General FHL guest info:</strong>
See <a href="FriHarbor_GroupsStayingAtFHL.pdf">info sheet from FHL (PDF)</a>.

</p>

<h4 style="background-color:yellow"><u>Travel itinerary, Monday, May 22</u></h4>

<p><strong>10:00 AM:</strong> Participants who are arriving today are now at Sea-Tac Airport.</p>
<p><strong>11:00 AM:</strong> Charter bus to Anacortes ferry terminal leaves Sea-Tac Airport. Box lunch is provided. 
<a href="#MissedBus">What if you miss the bus?</a>
</p>

    <p style="background-color:yellow; padding-left:15px"><strong>Where to catch the charter bus at Sea-Tac Airport:</strong></br>Door 00, which is on the main baggage level at the very south end.
  

    </p>
<p><strong>11:20 AM:</strong> Charter bus stops in downtown Seattle to pick up participants who arrived before today. </p>
<p style="background-color:yellow; padding-left:15px"><strong>Where to catch the charter bus downtown Seattle:</strong><br/> Washington State Convention Center, 8th Avenue Entrance.
<p style="padding-left:15px">To get to the 8th Avenue Entrance, either 1) enter Level 1 on the North side of the Convention Center from Pike Street and walk south through the retail area to the 8th Ave entrance, OR 2) continue uphill (east) on Pike to 9th and turn right (south) on Convention Place and walk about 1/2 block until you reach the Entrance/Pickup area.<br/>

<strong>By 11:20 AM</strong>, be at the Convention Center pickup area. Depending on traffic, the bus may arrive later than 11:20.</p>


<p><strong>1:45 PM (est.):</strong> Charter bus drops off participants at Anacortes ferry terminal, where they board the ferry.</p>

<p><strong>2:40 PM:</strong> Ferry leaves Anacortes for Friday Harbor.</p>

<p><strong>3:45 PM:</strong> Ferry arrives in Friday Harbor. Shuttle van transports participants to Friday Harbor Labs.</p>

<h4><u>Travel itinerary, Friday, May 26</u></h4>
<p><strong>1:00 PM:</strong> Participants board shuttle van headed to ferry terminal. (1:15 van departure)</p>
<p><strong>1:40 PM:</strong> Participants board ferry bound for Anacortes.</p>
<p><strong>1:55 PM:</strong> Ferry leaves Friday Harbor for Anacortes. </p>
<p><strong>3:00 PM:</strong> In Anacortes, participants board charter bus to Sea-Tac Airport.</p>
<p><strong>6:00 PM:</strong> Charter bus arrives at Sea-Tac Airport.</p>

<div style="border:solid; background-color: #CF9; padding:8px; margin:30px;">
<p><a name="MissedBus"></a><img src="images/icon_info.png" width="40px" height="40px" alt="Help" style="float:left; padding:4px"><strong><a href="#MissedBus"></a>What if you miss Monday's charter bus to the Anacortes ferry terminal?</strong></p>
<p>
<ol ><li>Call the Seatac to Anacortes Airporter Shuttle, 1-866-235-5247, to arrange for one-way transportation to the Anacortes ferry terminal. (You can pay by cash to the driver or by credit card over the phone.)</li>
<li>When you arrive at the Anacortes ferry terminal, purchase a walk-on ticket to <strong>San Juan Island - Friday Harbor</strong>. (You can pay by credit/debit card, cash, or traveler check.)</li>
<li>When you arrive at Friday Harbor, arrange with San Juan Taxi for a ride to Friday Harbor Labs (FHL), 1-360-378-3550.</li>
<li>When you arrive at FHL, call Diane on her cell for directions and room assignment.</li></ol></p>
</div>

  </div>
  
  <button onclick="myFunction('Section3')" class="w3-btn-block w3-left-align" style="background-color:white;border-bottom:#999;border-bottom-style:double">
 <h3><span style="color:#900">Participants <i class="fa fa-caret-down"></i></span></h3>
  </button>
  <div id="Section3" class="w3-accordion-content w3-container">
    <p><strong>Adams, Jenna</strong><br />
University of California, Santa Barbara </p>

<p><strong>B&eacute;gu&eacute;, Florence</strong><br />
Institut des Sciences de la Terre
<p><strong>Birner, Suzanne</strong><br />
Stanford University </p>
<p><strong>Boyer, Grayson</strong><br />
Arizona State University </p>
<p><strong>Dannberg, Juliane</strong><br />
Texas A&amp;M University </p>
<p><strong>Elkins, Lynne</strong><br />
University of Nebraska - Lincoln </p>

<p><strong>Ely, Tucker</strong><br />
Arizona State University</p>

<p><strong>Guild, Meghan</strong><br />
Arizona State University </p>
<p><strong>Huang, Fang </strong><br />
Johns Hopkins University </p>
<p><strong>Huang, Jingyl</strong><br />
Johns Hopkins University </p>
<p><strong>Iacovino, Kayla</strong><br />
Arizona State University </p>

<p><strong>Jordan, Jacob</strong><br />
University of Texas at Austin </p>

<p><strong>Makhluf, Adam</strong><br />
University of California, Los Angeles </p>

<p><strong>Myhill, Robert</strong><br />
University of Bristol</p>

<p><strong>Pan, Feifei</strong><br />
Rensselaer Polytechnic Institute </p>
<p><strong>Rogers, Karyn</strong><br />
Rensselaer Polytechnic Institute </p>

<p><strong>Tian, Meng</strong><br />
University of Oxford</p>
<p><strong>Till, Christy</strong><br />
Arizona State University </p>
<p><strong>Tweed, Lucy</strong><br />
Columbia University </p>
<p><strong>Wolf, Aaron</strong><br />
University of Michigan </p>
    
    
  </div>
</div>


</div>
</div>
</div>



</div>




</body>

