---
layout: default
---

<div class="w3-container w3-padding-24 w3-center" style="background-color:#FBEAD0">
      <h2>ENKI COMMUNITY</h2>
      <p>Meet our group:</p>
      <div class="w3-row"><br>
    <div class="w3-quarter"><a href="Bergantz/bergantz.html"> <img src="images/Bergantz.png" alt="George Bergantz" style="width:45%" class="w3-circle w3-hover-opacity"></a>
          <h3 style="margin-bottom:-18px">George Bergantz</h3>
          <p>University of Washington</p>
        </div>
    <div class="w3-quarter"><a href="Fox/fox.html"> <img src="images/Fox.png" alt="Peter Fox" style="width:45%" class="w3-circle w3-hover-opacity"></a>
          <h3 style="margin-bottom:-18px">Peter Fox</h3>
          <p>Rensselaer Polytechnic Institute</p>
        </div>
    <div class="w3-quarter"> <a href="Ghiorso/ghiorso.html"> <img src="images/Ghiorso.png" alt="Mark S. Ghiorso" style="width:45%" class="w3-circle w3-hover-opacity"></a>
          <h3 style="margin-bottom:-18px">Mark S. Ghiorso</h3>
          <p>OFM Research</p>
        </div>
    <div class="w3-quarter"><a href="Shock/shock.html">  <img src="images/Shock.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"></a>
          <h3 style="margin-bottom:-18px">Everett Shock</h3>
          <p>Arizona State University</p>
        </div>
  </div>
      <div class="w3-row"><br>
    <div class="w3-quarter"><a href="Spiegelman/spiegelman.html"> <img src="images/Spiegelman.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"></a>
          <h3 style="margin-bottom:-18px">Marc W. Spiegelman</h3>
          <p>Columbia University</p>
        </div>
    <div class="w3-quarter"><a href="Sverjensky/sverjensky.html"> <img src="images/Sverjensky.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"></a>
          <h3 style="margin-bottom:-18px">Dimitri Sverjensky</h3>
          <p>Johns Hopkins University</p>
        </div>
   
    <div class="w3-quarter"> <a href="Wolf/wolf.html"><img src="images/Wolf.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"></a>
          <h3 style="margin-bottom:-18px">Aaron Wolf</h3>
          <p>University of Michigan</p>
        </div>
  </div>
    </div>