---
layout: default
---
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>
    
<style>
td, th {
	vertical-align:top;
	text-align: left;
	border:1px solid black;
	padding:6px;
}
</style>


<body id="myPage">

<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
  <h2 style="color:white;padding-left:24px">ENKI PRESENTATIONS</h2>
</div>

<!-- Container -->
<div class="w3-container w3-padding-24 w3-center" style="padding-left:34px">

<h3 align="left" style="color:#900">July 26, 2017.  DCO webinar (Internet presentation)</h3>
  <p align="left"><strong>&quot;Studying Deep Earth Reactive Transport Using ENKI: A Modeling Primer&quot;</strong></p>
  <p align="left">Mark S. Ghiorso discusses ENKI tools.</p>
  <p align="left"><iframe width="560" height="315" src="https://www.youtube.com/embed/G8l5PS7npGo" frameborder="0" allowfullscreen></iframe></p>


  <hr>
  <h3 align="left" style="color:#900">February 21-22, 2017. SI<sup>2</sup> PI meeting (Washington, D.C.)</h3>

  <p align="left"><strong>Poster presentation </strong></p>
  <p align="left"> <em>Click image to open PDF file.</em></p>
  <p align="left"><a href="images/SI2_Meeting.pdf"><img src="images/SI2_Meeting_small.png" width="*" height="*" style="padding-bottom:2em"></a></p>
  <hr>
  <h3 align="left" style="color:#900">December 16, 2014.  Fall meeting, American Geophysical Union (San Francisco, CA)</h3>
  <p align="left"><strong>Bowen lecture:    &quot;On the Future of Thermochemical Databases, the Development of Solution Models and the Practical Use of Computational Thermodynamics in Volcanology, Geochemistry and Petrology: Can Innovations of Modern Data Science Democratize an Oligarchy?&quot;</strong></p>
  <p align="left">Mark S. Ghiorso describes his vision for a Web tool that will allow researchers to &quot;model at the speed of thought.&quot;</p>
  <p align="left"><iframe width="560" height="315" src="https://www.youtube.com/embed/tjfvrkgKDM0" frameborder="0" allowfullscreen></iframe></p>
  <p align="left">
  <a href="http://abstractsearch.agu.org/meetings/2014/FM/V21C-02.html">Abstract</a></p>
 
</div>
</div>

<!-- Container -->
</div>
</div>



</body>

