---
layout: default
---

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>

<style>
td, th {
    vertical-align:top;
    text-align: left;
    border:1px solid black;
	padding:6px;
}
</style>


<body id="myPage">

<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
<h2 style="color:white;padding-left:24px">PI ROLES AND DUTIES</h2>

</div>

<!-- Container -->
<div class="w3-container w3-padding-64 w3-center">

<table width="200" border="0">
  <tr style="background-color:#966;color:white">
    <th width="19%" scope="col">Name</th><th>Role</th>
    <th width="81%" scope="col">Responsibilities</th>
  </tr>
  <tr class="tan">
    <th><a href="Ghiorso/ghiorso.html">Mark S. Ghiorso</a></th>
    <td style="text-align:center">Project Lead, PI</td>
    <td style="border-bottom:none"><ul>
      <li>Responsible for project coordination, workshop logistics, documentation and tutorial lead, web service schema design for data repositories and model interoperability, model calibration tools design and visualization, model calibration algorithms. </li>
      <li>Lead on thermodynamic model calibration algorithms for magmatic and mineral systems. </li>
      <li>Contributes to testing, model self documentation and social networking infrastructure. Participates in the development of instructional materials and dissemination of project deliverables. </li>
      <li>Liaison to IEDA.</li>
    </ul></td>
  </tr>
  
  
   <tr class="tan">
     <td><strong><a href="Wolf/wolf.html">Aaron Wolf</a></strong></td>
  <td style="text-align:center" border="0">Co-PI, Bayesian Evangelist</td>
  <td style="border-top:none"><ul>
    <li>Model calibration algorithms for magmatic and mineral systems. </li>
    <li>Contributes to testing, model self documentation and social networking infrastructure. Participates in the development of instructional materials and dissemination of project deliverables. </li>
  </ul></td></tr>
  
  <tr>
    <th><a href="Fox/fox.html">Peter Fox</a></th>
    <td style="text-align:center"> Infrastructure Lead, PI</td>
    <td><ul>
      <li>  Responsible for infrastructure platform implementation, including web services, population of data repositories (separately funding by the Deep Carbon Observatory (DCO) via a grant from the Sloan Foundation), UI implementation for model calibration, documentation, testing, and social networking.  </li>
      <li>Participant in workshops,  development of instructional materials and dissemination of project deliverables. </li>
      <li>Supervises access to compute platform upon which the project will be developed and distributed (supplied courtesy of DCO).</li>
    </ul></td>
  </tr>
  <tr class="tan">
    <th><a href="Bergantz/bergantz.html"> George Bergantz</a></th>
    <td style="text-align:center">PI</td>
    <td><ul>
      <li> Responsible for selection of extant software for dynamical modeling with emphasis on crustal conditions.  </li>
      <li>Lead on design of repository schema for materials constitutive relations and the design protocols for model interoperability and visualization of model outcomes.  </li>
      <li>Contributes to testing, model self documentation and social networking infrastructure. </li>
      <li>Lead in the development of instructional materials and dissemination of project deliverables.</li>
    </ul></td>
  </tr>
  <tr>
    <th><a href="Shock/shock.html">Everett Shock </a></th>
    <td style="text-align:center">PI, Vision Evangelist</td>
    <td><ul>
      <li> Responsible for selection of extant software for thermodynamic modeling with emphasis on aqueous solutions including systems containing organic molecules.  </li>
      <li>Co-lead (with Sverjensky) on design of algorithms for calibration of thermodynamic models of aqueous systems and model interoperability of mass transfer and dynamical models. </li>
      <li>Contributes to testing, model self documentation and social networking infrastructure. Lead in the development of instructional materials and dissemination of project deliverables.</li>
    </ul></td>
  </tr>
  <tr class="tan">
    <th> <p><a href="Spiegelman/spiegelman.html">Marc Spiegelman </a></p></th>
    <td style="text-align:center">PI</td>
    <td><ul>
      <li> Responsible for selection of extant software for dynamical modeling with emphasis on mantle conditions.  Lead on design of self documenting model calibration infrastructure and the design protocols for model interoperability and visualization of model outcomes.  </li>
      <li>Contributes to testing, model self documentation and social networking infrastructure. </li>
      <li>Lead in the development of instructional materials and dissemination of project deliverables. Liaison to CIG.</li>
    </ul></td>
  </tr>
  
  <tr>
    <th> <a href="Sverjensky/sverjensky.html">Dimitri Sverjensky </a></th>
    <td style="text-align:center">PI</td>
    <td><ul>
      <li> Responsible for selection of extant software for thermodynamic modeling with emphasis on aqueous solutions including systems at high pressure.  </li>
      <li>Co-lead (with Shock) on design of algorithms for calibration of thermodynamic models of aqueous systems and model interoperability of mass transfer and dynamical models. Contributes to testing, model self documentation and social networking infrastructure. </li>
      <li>Lead in the development of instructional materials and dissemination of project deliverables.</li>
    </ul></td>
  </tr>
</table>


</div>



</body>