---
layout: default
---


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>

<style>
td, th {
    vertical-align:top;
    text-align: left;
    border:1px solid black;
	padding:6px;
}
</style>

</head>

<body id="myPage">


<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
<h2 style="color:white;padding-left:24px"">TIMELINE</h2>

</div>

<!-- Container -->
<div class="w3-container w3-padding-24 w3-center">
  <div class="w3-row">
  <p align="left">The ENKI project kicked off in fall 2016. The timeline for tasks to be completed is as follows:</p>
  <img src="images/timeline.png" width="815" height="631" alt="Timeline" align="left"></div>

</div>
</div>

<!-- Container -->

</div>

</div>


</body>

