---
layout: default
---

    <title>Peter Fox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <base href="../ENKI">
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>

    <body id="myPage">

<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
      <h2 style="color:white; padding-left:24px">PETER FOX</h2>
    </div>

<!-- Container -->
<div class="w3-container w3-padding-24" style="background-color:black">
      <div class="w3-row-padding w3-padding-24 w3-theme-l1">
    <div class="w3-quarter"> <img src="images/Fox.png" style="width:100%">
          </p>
          <hr>
          <p><img src="images/icon-mail.png" height="14px"> <a href="mailto:pfox@cs.rpi.edu">Email</a></p>
        </div>
    <div class="w3-threequarter" >
          <div class="w3-card-2 w3-white" style="padding:16px">
        <p>Peter Fox is Tetherless World Constellation Chair and Professor of Earth and Environmental Science, Computer Science and Cognitive Science, and Director of the Information Technology and Web Science Program at Rensselaer Polytechnic Institute. He holds B.Sc. (Hons) and Ph.D. in Applied Mathematics from Monash University. He spent 17 years at the High Altitude Observatory of the National Center for Atmospheric Research as Chief Computational Scientist. Fox's research specializes in the fields of data science and analytics, ocean and environmental informatics, computational logic, semantic Web, cognitive bias, semantic data frameworks, and solar and solar-terrestrial physics. This research utilizes state-of-the-art modeling techniques, internet-based technologies, including the semantic web, and applies them to large-scale distributed scientific repositories addressing the full life-cycle of data and information within specific science and engineering disciplines as well as among disciplines. Fox is currently PI for the Integrated Ecosystem Assessment, the Deep Carbon Observatory Data Science, Global Change Information System, The Marine Biodiversity Virtual Laboratory, and the GeoData projects and is co-PI on 4 others. Fox has spent over 30 years bridging science and distributed data and information systems to support community activities utilizing use case driven design. Fox is President of the Earth Science Information Partners, was chair of the International Union of Geodesy and Geophysics Union Commission on Data and Information from 2007-2015, and is past chair and co-founder of the AGU Special Focus Group on Earth and Space Science Informatics. Fox is an associate editor for the Earth Science Informatics journal, is a member of the editorial boards for Computers in Geosciences, Geoscience Data Journal and Nature's Scientific Data Journal. Fox served on the International Council for Science's Strategic Coordinating Committee for Information and Data. Fox was awarded the 2012 Martha Maiden Lifetime Achievement Award for service to the Earth Science Information community, and the 2012 European Geoscience Union, Ian McHarg/ Earth and Space Science Informatics Medal. In 2015, Fox was elected as the first Earth and Space Science Informatics fellow to the American Geophysical Union. </p>
        <h3 style="color:#900">Links</h3>
        <p align="left"><a href="http://tw.rpi.edu/web/Person/PeterFox">Department website</a></p>
      </div>
        </div>
  </div>
    </div>
  
</body>