<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-btn-floating w3-teal" href="https://www.facebook.com/ENKI-Portal-294117760979630/" title="Facebook"><i class="fa fa-facebook"></i></a> <a class="w3-btn-floating w3-teal" href="https://twitter.com/ENKIportal" onclick="window.open('https://twitter.com/ENKIportal', 'newwindow', 'width=600, height=500'); return false;" title="Twitter"><i class="fa fa-twitter"></i></a> 
  
  <!--
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-btn-floating w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>-->
  
  <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right"> <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span> <a class="w3-btn w3-theme" href="#myPage"><span class="w3-xlarge"> <i class="fa fa-chevron-circle-up"></i></span></a> </div>
  
  <div style="position:relative;bottom:100px;float:left;vertical-align:middle;z-index:2">
  <a href="http://www.nsf.gov">
  <img src='{{ "/images/NSFlogo.png" | relative_url }}' alt="NSF logo" style="margin-right:2px"></a>
 <a href="https://deepcarbon.net"> 
  <img src='{{ "/images/DCOlogo.png" | relative_url }}'></a>
  </div>



<!-- ORIGINAL DEFAULT JEKYLL FOOTER
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
-->
