<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body>

<!-- Navbar on large screens -->

<div class="w3-top">
<div style="background-color:green;height:5px"></div>
<ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right"> <a class="w3-hover-green w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a> </li>

  </li>
  
  <li class="w3-hide-small w3-dropdown-hover" ><a  class="w3-hover-green" style="padding-right:3em">MORE <i class="fa fa-caret-down"></i></a>
      
    <div class="w3-dropdown-content w3-green w3-card-4" > 
    <a href='{{ "/about.html" | relative_url }}' class="w3-hover-green">About ENKI</a>   
    <a href='{{ "/presentations.html" | relative_url }}' class="w3-hover-green">Presentations</a>
    <a href='{{ "/pis.html" | relative_url }}' class="w3-hover-green">PIs</a>
    <a href='{{ "/roles.html" | relative_url }}' class="w3-hover-green">PI Roles</a>
    <a href='{{ "/timeline.html" | relative_url }}' class="w3-hover-green">Timeline</a>
</div></li>
  
      <li class="w3-hide-small w3-dropdown-hover"><a class="w3-hover-green">WORKSHOPS <i class="fa fa-caret-down"></i></a>
      
      <div class="w3-dropdown-content w3-green w3-card-4">
    <a href='{{ "/CIDERworkshop.html" | relative_url }}' class="w3-hover-green">CIDER CT-CFD</a>
    <a href='{{ "/May2017workshop.html" | relative_url }}' class="w3-hover-green">May 2017 User</a></div></li>      
      
    <li class="w3-hide-small w3-dropdown-hover"> <a  class="w3-hover-green" title="Schedule">DOCUMENTATION <i class="fa fa-caret-down"></i></a>
      <div class="w3-dropdown-content w3-green w3-card-4">
    <a href="https://enki-portal.gitlab.io/geothermodat/" class="w3-hover-green">Geothermodat</a>
    <a href="https://enki-portal.gitlab.io/ThermoEngine/" class="w3-hover-green">Thermoengine</a>
    </div>
     
  </li>
  
    <li class="w3-hide-small w3-dropdown-hover"><a  class="w3-hover-green">PORTAL <i class="fa fa-caret-down"></i></a> 
     <div class="w3-dropdown-content w3-green w3-card-4">
     <a href="https://enki.ofm-research.org/" class="w3-hover-green">Access Compute Server</a>
     <a href="http://www.gitlab.com/enki-portal" class="w3-hover-green">Access Code Repository </a> 
    
    </div></li>
    <li class="w3-hide-small"><a href='{{ "/index.html" | relative_url }}' class="w3-hover-green">HOME</a></li>
 <li class="w3-hide-small w3-right"> <a href="#" class="w3-hover-green" title="Search" onClick="window.open('assets/search.html','pagename','resizable,height=520,width=740'); return false;"><i class="fa fa-search"></i></a>
  </li>
</ul>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top">
  <ul class="w3-navbar w3-left-align w3-large w3-theme">
  
    <li class="w3-green"><a href="/index.html">HOME</a></li>
    
    <li class="w3-green">PORTAL</li>
    <li class="w3-green"><a href="https://enki.ofm-research.org/">- Access Compute Server</a></li>
    <li class="w3-green"><a href="http://www.gitlab.com/enki-portal">- Access Code Repository</a></li>
 
    <li class="w3-green">DOCUMENTATION</li>
    <li class="w3-green"><a href="https://enki-portal.gitlab.io/geothermodat/">- Geothermodat</a></li>
    <li class="w3-green"><a href="https://enki-portal.gitlab.io/PhaseObjC/">- Thermoengine</a></li>
    
    <li class="w3-green">WORKSHOPS</li>
    <li class="w3-green"><a href="/CIDERworkshop.html" class="w3-hover-green">- CIDR CT-CFD</a>

    <li class="w3-green"><a href="/May2017workshop.html" class="w3-hover-green">- May 2017 User</a></li>
    <li class="w3-green">MORE</li>
    <li class="w3-green"><a href="../about.html">- About ENKI</a></li>
    <li class="w3-green"><a href="../presentations.html">- Presentations</a></li>
    <li class="w3-green"><a href="../pis.html">PIs</a></li>
    <li class="w3-green"><a href="../roles.html">- PI Roles</a></li>
    <li class="w3-green"><a href="../timeline.html">- Timeline</a></li>    
    
  </ul>
</div>

<script>
// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

</script>
</body>
</html>
