---
layout: default
---

<base href="../ENKI">

<title>Aaron Wolf</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script> 
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>

<body id="myPage">

<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
<h2 style="color:white; padding-left:24px">AARON WOLF</h2>

</div>

<!-- Container -->
<div class="w3-container w3-padding-24" style="background-color:black">
<div class="w3-row-padding w3-padding-24 w3-theme-l1">
<div class="w3-quarter">
<img src="images/Wolf.png" style="width:100%"></p>

 <hr>

<p><img src="images/icon-telephone.png" height="14px"> 734-647-5704</p>
<p><img src="images/icon-mail.png" height="14px"> <a href="mailto:aswolf@umich.edu">Email</a></p>

</div>

<div class="w3-threequarter" >
<div class="w3-card-2 w3-white" style="padding:16px">

<p>Aaron Wolf is currently an Assistant Research Scientist in the Earth and Environmental Sciences Department at the University of Michigan. He received his bachelor's degrees in Physics and Earth Science from UC Santa Cruz in 2006 and his Ph.D. in Planetary Science from Caltech in 2013. His research interests span a broad range of topics including planetary science, geochemistry, geophysics, and statistical analysis, but focus mainly on understanding the thermodynamics and evolution of the Earth's mantle, now and early in Earth's history. He uses a variety of techniques to study the lower mantle, including diamond anvil cell experiments, thermodynamic modeling of first principles calculations, and simplified atomic-scale simulations. One of his ongoing projects is focused on modeling the thermodynamic properties of high-pressure silicate melts and exploring their impact on the cooling and crystallization history of an early Earth magma ocean. He has also done work on determining the interior properties of extrasolar planets through their orbital evolution, as well as various applications of Bayesian statistical techniques within multiple fields in the geosciences. If you're interested in finding out more about his research, please visit his website at aswolf.github.io.</p>
<h3 style="color:#900">Links</h3>
<p align="left"><a href="http://aswolf.github.io">Department website</a></p> 
  </div>
</div>
</div>
</div>

</body>

