---
layout: default
---

<title>Everett Shock</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
  <base href="../ENKI"> 

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>
    

<body id="myPage">

<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
<h2 style="color:white; padding-left:24px">EVERETT SHOCK</h2>

</div>

<!-- Container -->
<div class="w3-container w3-padding-24" style="background-color:black">

<div class="w3-row-padding w3-padding-24 w3-theme-l1">

<div class="w3-quarter">
<img src="images/Shock.png" style="width:100%"></p>

 <hr>
 <p><img src="images/icon-telephone.png" height="14px"> 480-965-0631</p>

<p> <img src="images/icon-mail.png" height="14px"> <a href="mailto:Everett.Shock@asu.edu">Email</a></p>

</div>

<div class="w3-threequarter" >
<div class="w3-card-2 w3-white" style="padding:16px">

<p>Everett Shock combines field, experimental, and theoretical research to explore water/rock/organic/microbe interactions wherever they occur. He and his students develop and test thermodynamic data for aqueous solutes, biomolecules, and minerals, which they share with the world through databases for the SUPCRT92 and CHNOSZ codes. They explore the reactivity of organic compounds at hydrothermal conditions in lab experiments that probe the mechanisms of reactions. Their fieldwork in hydrothermal ecosystems and regions of active serpentinization take them to Yellowstone and Oman, and their efforts to quantify habitability take them to sub-glacial, cold-spring and acid mine drainage as well. Back in the lab they integrate water, gas, mineral, and microbial samples to gain compositional constraints on microbial ecosystems, place genetic sequencing data in their geochemical context, and quantify geobiochemical processes. Thermodynamic data, lab experiments, and field results all influence theoretical models of planetary habitability in active hydrothermal and serpentinizing systems, their counterparts that existed on the early Earth, and systems that may exist on the Ocean Worlds of our Solar System. Shock is a member of NASA's Europa Clipper mission through the science team for the MASPEX mass spectrometer. He and his students are actively pursuing the geobiochemistry of subsurface ecosystems through the Oman Drilling Project and IODP Expeditions 360 and 370.</p>
<h3 style="color:#900">Links</h3>
<p align="left"><a href="http://geopig.asu.edu/shock">Department website</a></p> 
  </div>
</div>
</div>

</div>

</body>

