---
layout: default
---

<title>George Bergantz</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
      <base href="../ENKI">
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82517314-1', 'auto');
  ga('send', 'pageview');

</script>
   
    
<body id="myPage">


<div class="w3-row-padding w3-theme-l1" style="padding-top:64px">
<h2 style="color:white; padding-left:24px">GEORGE BERGANTZ</h2>


</div>


<!-- Container -->
<div class="w3-container w3-padding-24" style="background-color:black">



<div class="w3-row-padding w3-padding-24 w3-theme-l1">

<div class="w3-quarter">
<img src="images/Bergantz.png" style="width:100%"></p>

 <hr>
 <p><img src="images/icon-telephone.png" height="14px"> 206-685-4972</p>

<p> <img src="images/icon-mail.png" height="14px"> <a href="mailto:bergantz@uw.edu">Email</a></p>

</div>

<div class="w3-threequarter" >
<div class="w3-card-2 w3-white" style="padding:16px">

<p>George Bergantz is a faculty member at the University of Washington. Bergantz's interests are in the quantitative treatment of geologic transport processes at a variety of scales and in a variety of settings. The physical petrology group at the UW has as its main emphasis the physics of magmas, hydrothermal systems, metamorphism and eruption processes. The projects currently underway address the hydrogranular reacting dynamics of high-temperature systems such as magmas, with an emphasis on the discrete-element computational fluid dynamics method.</p>
<h3 style="color:#900">Links</h3>
<p align="left"><a href="http://depts.washington.edu/physpet/">Department website</a></p> 
  </div>
</div>
</div>

</div>


</body>

