<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include navbar.html %}

  <body>
      

<!-- {% include header.html %} -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  {% include footer.html %} 

  </body>

</html>
